html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif!important;

}

body {
    background-image: url(../images/crystalbackground.jpg);
    background-size: cover;
    font-family: 'Raleway', sans-serif!important;
}

.header {
    margin-top: 10px;
    background-color:rgba(212,212,212,.2);

}

#crystalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions {
    background-color:rgba(212,212,212,.2);
}

.directions,
p {
    width: 60%;
    margin: 0 auto;

}

.row {
    margin: 0 auto;
    padding: 20px;
}

.jointBackground {
    background-color:rgba(212,212,212,.2);

}

.col-lg-6 {
    padding: 20px;
}

.crystal {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.crystalPic {
	width: 150px;
	margin: 30px auto;
}

.footer {
    margin-top: 10%;
}